<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
	  <h6 style="text-align:left;">Social Media Links:</h6>
      <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
  {{ end }}
  <p class="copyright">
    {{ (.Site.Copyright | safeHTML) | default (print "\u00A9 " now.Year " " (.Site.Params.author | default .Site.Title)) }}
      <br>
    {{ i18n "attribution" . | safeHTML }}
  </p>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = '<?php echo get_permalink(); ?>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<?php echo get_permalink(); ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://www-vandenboom-icu.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</footer>

<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>
