<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  <head>
    <meta charset="UTF-8">
  </head>
  {{ partial "head" . }}
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWVBJ3K4" height="0" width="0" class="gtm-noscript-frame"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
    
    <div class="footer">
      <p class="copyright">
        {{ .Site.Copyright | default (printf " - van den <span class=\"bold-rotate\">B</span>oom &copy; %d - " now.Year) | safeHTML }}
      </p>
    </div>

  <script src="{{ "js/site-theme-init.js" | relURL }}"></script>




  </body>
</html>
