<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWVBJ3K4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
    
    <div class="footer">
      <p>
        {{ (.Site.Copyright | safeHTML) | default (print "\u00A9 " now.Year "  -  " (.Site.Params.author | default .Site.Title)) }}      
      </p>
    </div>

	<script>
	  if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		  if (!user) {
			window.netlifyIdentity.on("login", () => {
			  document.location.href = "/admin/";
			});
		  }
		});
	  }
	</script>

  </body>
</html>
