<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  <head>
    <meta charset="UTF-8">
    <style>
        @keyframes rotate {
            0% { transform: rotateY(0deg); }
            100% { transform: rotateY(360deg); }
        }
        .bold-rotate {
            font-weight: bold;
            display: inline-block;
            animation: rotate 2s infinite;
        }
    </style>
  </head>
  {{ partial "head" . }}
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWVBJ3K4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
    
    <div class="footer">
      <p class="copyright">
        {{ .Site.Copyright | default (printf " - van den <span class=\"bold-rotate\">B</span>oom &copy; %d - " now.Year) | safeHTML }}
      </p>
    </div>

	<script>
	  if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		  if (!user) {
			window.netlifyIdentity.on("login", () => {
			  document.location.href = "/admin/";
			});
		  }
		});
	  }
	</script>

  <script type="text/javascript" defer>
    let darkmode = localStorage.getItem('darkmode')

    const themeSwitch = document.getElementById('theme-switch')

    const enableDarkMode = () => {
      document.body.classList.add('darkmode')
      localStorage.setItem('darkmode', 'active')
    }

    const disableDarkMode = () => {
      document.body.classList.remove('darkmode')
      localStorage.setItem('darkmode', null)
    }

    // Function that toggles dark mode on button click
    const toggleDarkMode = () => {
      darkmode = localStorage.getItem('darkmode');
      if (darkmode !== 'active') {
        enableDarkMode();
      } else {
        disableDarkMode();
      }
    };

    // Check if dark mode is active when the page loads
    if (darkmode === 'active') enableDarkMode();

    // Bind the toggleDarkMode function to the button click event
    //document.getElementById('theme-switch').onclick = toggleDarkMode;

  </script>




  </body>
</html>
